<style>
  .masthead {
    font-family: Arial, sans-serif;
    width: 100%; /* 确保导航栏占满整行 */
  }

  .masthead__inner-wrap {
    height: 80px; /* 设置导航栏高度 */
    display: flex;
    align-items: center;
  }

  .masthead__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .greedy-nav {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .visible-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .masthead__menu-item {
    padding: 0 10px; /* 减小左右间距，使文字更靠近 */
    line-height: 80px; /* 确保文本垂直居中 */
  }

  .masthead__menu-item a {
    text-decoration: underline; /* 恢复下划线 */
    color: #35705D; /* 字体颜色 */
    font-size: 14px; /* 字体大小 */
    display: inline-block;
  }
</style>

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="#about-me">Homepage</a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
