/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  top: 0;
  background-color: #EEE8D8;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: .5em;
    font-family: $sans-serif-narrow;
    background-color: #EEE8D8;

    @include breakpoint($x-large) {
      max-width: $x-large;
      background-color: #EEE8D8;
    }

    nav {
      z-index: 10;
      background-color: #EEE8D8;
    }

    a {
      text-decoration: none;
      background-color: #EEE8D8;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    background-color: #EEE8D8;
  }
}

.masthead__menu-home-item {
  display: none;
  background-color: #EEE8D8; 

  @include breakpoint($medium) {
    display: block; 
    background-color: #EEE8D8;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  background-color: #EEE8D8;
  margin-left: 15px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #35705D;


  &--lg {
    padding-right: 2em;
    font-weight: 700;
    background-color: #EEE8D8;
  }
}


